{
  "presets":["@babel/preset-env","@babel/preset-react"],
  "plugins": [
    ["@babel/transform-runtime"],"@babel/plugin-transform-spread",["@babel/plugin-proposal-object-rest-spread",{ "loose": true, "useBuiltIns": true }]]}